@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Share Tech Mono';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: url(https://cdn.jsdelivr.net/fontsource/fonts/share-tech-mono@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/share-tech-mono@latest/latin-400-normal.woff) format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Major Mono Display';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: url(https://cdn.jsdelivr.net/fontsource/fonts/major-mono-display@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/major-mono-display@latest/latin-400-normal.woff) format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
	color-scheme: dark light;
}

.utterances {
	max-width: 100% !important;
	width: 100%;
}

.toc-tree,
.toc-tree ul,
.toc-tree li {
	position: relative;
}

.toc-tree ul {
	list-style: none;
	padding-left: 32px;
}

.toc-tree li::before,
.toc-tree li::after {
	content: "";
	position: absolute;
	left: -12px;
}

.toc-tree li::before {
	border-top: 1px dotted white;
	top: 9px;
	width: 8px;
	height: 0;
}

.toc-tree li::after {
	border-left: 1px dotted white;
	height: 100%;
	width: 0;
	top: 2px;
}

.toc-tree ul>li:last-child::after {
	height: 8px;
}

summary:hover {
	cursor: pointer;
}

summary {
	outline: none;
	list-style: none;
}

summary::-webkit-details-marker {
	display: none;
}

details[open] summary .icon {
	transform: rotate(-90deg);
}

details summary .icon {
	transition: transform .2s;
}

.bmc-btn{
	height: 2rem !important;
	width: 2rem !important;
}



@layer components {
	.bento-basic {
		@apply w-full ring-1 ring-contentSubtle ring-opacity-40 p-2 rounded-lg hover:bg-primary hover:bg-opacity-10 hover:ring-opacity-60 hover:ring-primary transition hover:cursor-pointer
	}
}

@layer utils{
	.bmc-btn{
		@apply !text-sm !font-app !rounded-lg !bg-primary !bg-opacity-40 hover:!bg-opacity-50 hover:!scale-105 transition-all
	}
	
	.bmc-btn-text
	{
		@apply !font-app
	}
}